.footer {
    background-color: #3c4955;
    padding: 73px 0;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.footer__copyright {
    width: 50%;
    float: left;
}

@media only screen and (min-width : 320px) and (max-width : 767px){
    .footer__copyright{
        width: 100%;
        float: none;
        text-align: center;
    }
}

.footer__social {
    float: right;
}

.copyright__text {
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
}

.copyright__link {
    font-weight: 700;
    text-decoration: none;
}

.copyright__link:hover {
    color: #48bf72;
    transition: all .3s ease-in-out;
}